<div class=" bg-light">
    <div class="w-100">
      <img src="../../assets/img/living.png" class="img-fluid" alt="">
    </div>
    <hr>
    <div>
      <h1 class="text-center text-dark title-large">Envíenos Su Consulta</h1>
      <div class="row d-flex">
        <!-- formulario -->
        <div class="col-md-8 mx-auto">
            <form action="" class="p-3 mx-auto bg-white formulario">
              <div class="form-group">
                <input class="form-control" data-label="Name" required="" data-msg="Please enter name." type="text" name="name" placeholder="Nombre"
                  aria-required="true">
              </div>
              <div class="form-group">
                <input class="form-control" data-label="Email" required="" data-msg="Please enter email." type="email" name="email" placeholder="Email"
                  aria-required="true">
              </div>
              <div class="form-group">
                <input class="form-control" required="" data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Teléfono"
                  aria-required="true">
              </div>
              <div class="form-group">
                <textarea class="form-control text-white" data-label="Message" required="" data-msg="Please enter your message." name="message"
                  placeholder="Mensaje" cols="30" rows="10" aria-required="true"></textarea>
              </div>
              <button type="submit" class="d-flex btn solid btn-block block text-white">
                <div class="mx-auto">
                  <i class="fa fa-envelope-o fa-lg text-white mr-2 align-items-center"></i>
                  <span class="d-inline-flex" style="">ENVIAR</span>
                </div>
              </button>

            </form>
          </div>
          <!--/ formulario -->
  
        
      </div>
     
    </div>
    
  </div>