<div class=" bg-light">
   <div>
    <h1 class="text-center text-dark my-4 title-large">Envíenos Su Consulta</h1>
    <div class="row d-flex">
      <div class="col-lg-10 mx-auto">
        <div class="row">

          <!-- formulario -->
          <div class="col-md-6">
            <form action="" class="p-3 mx-auto bg-white formulario">
              <h2 class="text-white form-title text-center title-small mt-1 mb-3">Envíenos su consulta</h2>
              <div class="form-group">
                <input class="form-control" data-label="Name" required="" data-msg="Please enter name." type="text" name="name" placeholder="Nombre"
                  aria-required="true">
              </div>
              <div class="form-group">
                <input class="form-control" data-label="Email" required="" data-msg="Please enter email." type="email" name="email" placeholder="Email"
                  aria-required="true">
              </div>
              <div class="form-group">
                <input class="form-control" required="" data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Teléfono"
                  aria-required="true">
              </div>
              <div class="form-group">
                <textarea class="form-control text-white" data-label="Message" required="" data-msg="Please enter your message." name="message"
                  placeholder="Mensaje" aria-required="true"></textarea>
              </div>
              <button type="submit" class="d-flex btn solid btn-block block text-white">
                <div class="mx-auto">
                  <i class="fa fa-envelope-o fa-lg text-white mr-2 align-items-center"></i>
                  <span class="d-inline-flex" style="">ENVIAR</span>
                </div>
              </button>
            </form>
          </div>
          <!--/ formulario -->
          <div class="col-md-6 text-dark  consulta-leyenda">
            
            <p class="title-mini ml-lg-3">Por favor deje su consulta <br>
              y le responderemos a la brevedad.</p>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>
