<nav class="navbar navbar-expand-md navbar-dark fixed-top p-0" [ngClass]= "{'navbar-scroll-bg': isScrolled}">
  <div class="container">
  <a class="navbar-brand ml-3 mb-1 logo" href="#">
    <img src="././assets/img/logo_w.png" class="img-fluid w-50" alt="">
  </a>

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse p-0" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto p-0">
      <li class="nav-item d-flex bd-dark">
        <a class="nav-link mx-auto" href="#">Inicio</a>
      </li>
      <li class="nav-item d-flex">
        <a class="nav-link mx-auto" href="#">Quiénes somos</a>
      </li>
      <li class="nav-item d-flex">
        <a class="nav-link  mx-auto" href="#">Productos</a>
      </li>
      <li class="nav-item d-flex">
        <a class="nav-link mx-auto" href="#">Contacto</a>
      </li>
    </ul>
    <div class="nav-item px-4 border-left d-flex">
      <span class="text-white box-phone mx-auto"><i class="fa fa-phone"></i>&nbsp;0123 456 789</span>
    </div>
  
 
  </div>

</div>
</nav>

