.bg-color{
    background: linear-gradient(#abababb0,#1926c3e0);
    font-family: 'PT Sans', sans-serif;
}

.padding-main{
    padding: 0px 80px;
    border-top: solid 20px #ffffff;
    border-bottom: solid 20px #ffffff;
}
.padding-main p{
   font-size: 1.3rem;
}
.banner{
   margin-top: 80px;
}


.title-large{
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom:90px;
}
.title-small{
    font-size: 24px;
}
.img-detalle{
    outline:#fff 3px solid; outline-offset: 8px;
}
@media screen and (max-width:425px) {
   .padding-main{
    padding: 30px 15px;
}
}

