@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.bg-color{
    background: #f3f3f3;
    font-family: 'PT Sans', sans-serif;
}
.padding-main{
    padding: 0px 0 ;
    /* border-top: solid 20px #444444;
    border-bottom: solid 20px #444444; */
    border-top: solid 30px #099;
    border-bottom: solid 30px #099;
   
}
.banner{
   margin-top: 80px;
}
.title-large{
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    
}
.title-name{
    font-size: 1rem!important;
    
}
.title-small{
    font-size: 24px;
}
.img-detalle{
    outline:#fff 3px solid; outline-offset: 8px;
}
@media screen and (max-width:425px) {
    .padding-main{
     padding: 30px 15px;
 }
 }
 