@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.bg-color{
    background: #ffdd00;
    font-family: 'PT Sans', sans-serif;
}
.banda-sup{
   min-height:300!important;
   /* margin-top: 80px; */
}
.title-large{
    font-size: 50px;
    line-height: 1.2;
}
.title-small{
    font-size: 24px;
}
.img-detalle{
    outline:#fff 3px solid; outline-offset: 8px;
}

.benef-cuad{
    width:300px;
    height:300px;
}
.beneficios button{
    font-size: 1.2rem!important;
}
.bg-cartel{
    background-color: #565458; 
    min-height: 60px;
}
.btn-color{
    background-color: #659b01;
}

@media screen and (max-width:768px) {
    .beneficios button{
        font-size: .9rem!important;
    }

 }
