<div class=" bg-light">
 
  <div class="py-4 px-3">
    <div class="row d-flex ">
      <!-- parte izq. -->
      <div class="col-md-6 mx-auto mt-3 text-grey">
        <h1 class="text-center title-large">{{prodSelected.nombre}}</h1>
        <div class="row">
          <p class="mx-auto my-4 title-small">{{prodSelected.detalle}}</p>
            <h4 class="w-100 mb-4">Propiedades</h4>
            
            <ul class="icon-list list-group flex-row">
              <li class="list-group-item"><i class="fa fa-cubes fa-5x"></i></li>
              <li class="list-group-item"><i class="fa fa-tint fa-5x"></i></li>
              <li class="list-group-item"><i class="fa fa-home fa-5x"></i></li>
            </ul>
        </div>
      </div>
      <!-- parte der. -->
      <div class="col-md-5 d-flex flex-column bg-white">
        <div class="d-flex ">
          <img src="{{prodSelected.imagen}}" class="img-fluid align-self-start mx-auto" alt="">
        </div>
        <div class="bg-warning d-flex mt-3">
          <button type="button" class="btn btn-block btn-lg btn-custom rounded-0 text-white">VER FICHA TÉCNICA</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-sm btn-dark m-5">
    <a class="btn text-white" routerLink="/productos">&lt; Volver a productos</a>
  </button>
  </div>
  
</div>
