@import url('https://fonts.googleapis.com/css?family=PT+Sans');
.bg-color{
    background: linear-gradient(#3874bcb5,#555658b5);
    font-family: 'PT Sans', sans-serif;
}
hr{
    border: solid 15px #0aabbd;
    margin: 0!important;
}

.text-grey{
    color: #444;
}
.title-large{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 400;
}
.title-small{
    font-size: 1.3rem;
}
.img-detalle{
    outline:#2d3345 3px solid; outline-offset: 8px;
}
.bg-cyan{
    background-color: #47c9e2;
}
.btn-custom{
    background-color: #ffde00;
    transition:all .2s ease-in;
}
.btn-custom:hover{
    background-color: rgb(255, 222, 0);
}
.icon-list ul li {
    width: 105px;
    min-height: 105px;
    background-color: transparent;
    border-color: transparent!important;
   
}