.padding-main{
    padding: 80px 100px 150px;
    border-top: solid 20px #444444;
    border-bottom: solid 20px #444444;
}
.banner{
   min-height: 70px;
   overflow: hidden;
}

.bg-color{
    background: linear-gradient(#395b84b5,#555658);
}
.title-large{
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom:90px;
}
.title-small{
    font-size: 24px;
}
.img-detalle{
    outline:#fff 3px solid; outline-offset: 8px;
}
