<div class="container">
  <div class="row">
    <section class="mt-4">
      <h1 class="h1 font-weight-bold text-dark mb-3 offset-sm-6">Características</h1>
      <!-- <div id="" *ngFor="let caracteristica of caracteristicas" [class.selected]="producto === selectedProduct" (click)="onSelect(_prod)" class="col-md-2 d-flex justify-items-center bg-white mx-3 mb-3 px-4">
      </div> -->
      <div class="row">
      <div class="col-md-3">
        <img src="../../assets/img/impermeable.png" alt="" class="img-fluid">
        <h3 class="text-dark text-center mt-3">Impermeable</h3>
      </div>
      <div class="mt-4 col-md-9">
        <div class="d-flex wide-art py-3">
          <i class="fa fa-cubes fa-4x "></i>
          <p class="px-3 m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt iste aliquid at, quos perferendis quod pariatur
            officiis, magni modi nemo distinctio error ab deleniti autem provident quae velit numquam est.</p>
        </div>

        <div class="d-flex wide-art py-3">
          <i class="fa fa-cubes fa-4x "></i>
          <p class="px-3 m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt iste aliquid at, quos perferendis quod pariatur
            officiis, magni modi nemo distinctio error ab deleniti autem provident quae velit numquam est.</p>
        </div>

        <div class="d-flex wide-art py-3">
          <i class="fa fa-cubes fa-4x "></i>
          <p class="px-3 m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt iste aliquid at, quos perferendis quod pariatur
            officiis, magni modi nemo distinctio error ab deleniti autem provident quae velit numquam est.</p>
        </div>

        <div class="d-flex wide-art py-3">
          <i class="fa fa-cubes fa-4x "></i>
          <p class="px-3 m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt iste aliquid at, quos perferendis quod pariatur
            officiis, magni modi nemo distinctio error ab deleniti autem provident quae velit numquam est.</p>
        </div>
      </div>
    </div>
    </section>
  </div>
</div>
