
section{
    font-family: 'PT Sans', sans-serif;
 }

.main{
    background: url("../../assets/img/construction_overlay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.padding-main{
    padding: 80px 0 50px;
}
.filter {
    -webkit-backdrop-filter: blur(10px); /* Safari 9+ */
    backdrop-filter: blur(10px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.3);
}
.title-large{
        font-size: 50px;
        line-height: 1.2;
        font-weight: 700;
        
}
.title-small{
    font-size: 24px;
    font-weight: 700;
}
.title-mini{
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: 300;
}
#logo img {
     width: 80%;
     drop-shadow:8px 8px 3px rgba(68, 209, 13, 0.5);
}
#productos img{
    drop-shadow:(8px 8px 3px rgba(0,0,0,.5));
    height: 194px;
}

.formulario .form-title{
    color:#2d3345!important;
   }

.formulario button{
   
 background-color:#2d3345!important;
}

#productos{
    padding: 20px 0;
    background-color: #f9f9f9;
   
}
#productos h1,h3{
    color:#2d3345!important;
}
#productos h1{
    font-size: 3.5rem!important;
    font-weight: 700;
}
#productos h3{
   font-size: 1.4rem!important;
   font-weight: bold;
}
.hr{
    border-color: rgba(255,255,255,0.15)
}
@media screen and (max-width:425px) {
    form h2 {
       font-size: 2rem;
    }
}